<!DOCTYPE html>
<head>
   	<title>Current Status</title>
</head>

<body>
   <h1>WOOHOO</h1>


   <h2>RGB Input:</h2>

   <form action="/on/" method="POST">
	<span style="color:red">Red</span>:
	<input type="text" name="red" value={{ red }}> 
	<br>
	<span style="color:green">Green:</span>
        <input type="text" name="green" value={{ green }}>
	<br>
	<span style="color:blue">Blue:</span>
	<input type="text" name="blue" value={{ blue }}>
	<br>
	<br>
	<input type="submit" value="Submit">
   </form>

</body>
</html>
