html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    transition: background-color ease 0.5s;
    background-color: #ccc;
}

#spine-1 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
#spine-2 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.button {
    width: 80px;
    height: 80px;
    margin: 40px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    transition: transform ease 0.2s;
}
.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/**
 * button functions
 */
 #button-on {
    display: flex;
    justify-content: center;
 }
 #button-off {
    display: flex;
    justify-content: center;
 }
 #button-flash {
    display: flex;
    justify-content: center;
 }
 #button-breathe {
    display: flex;
    justify-content: center;
 }
 #button-multi {
    display: flex;
    justify-content: center;
 }

 #color-functions {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%)
}

.inactive {
    border: 2px solid #2f353f;
    color: #2f353f;
}
.inactive:hover {
    opacity: 0.6;
}
.active {
    border: 2px solid #2f353f;
    background: #2f353f;
    color: white;
}
.function-button {
    width: 124px;
    height: 60px;
    margin: 40px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    transition: transform ease 0.2s;
    border: 2px solid #2f353f;
}
.function-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* #lo-time {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-125%, 300%)
}
#lo-time-name {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, 1000%)
}
#result1 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-440%, 1050%)
}

#hi-time {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, 300%)
}
#hi-time-name {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(95%, 1000%)
}
#result2 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(350%, 1050%)
} */


/* input[type=text] {
    width: 12%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} */

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}




/**
 * colors
 */

#button-red {
    background: #EF476F;
}
#button-orange {
    background: orange;
}
#button-yellow {
    background: #FFD166;
}
#button-pink {
    background: pink;
}
#button-green {
    background: #06D6A0;
}
#button-aqua {
    background: aqua;
    width: 80px;
    height: 80px;
    margin: 40px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    border: 5px solid rgb(65, 225, 236);
    transition: transform ease 0.2s; 
}
#button-lightblue {
    background: #118AB2;
}
#button-blue {
    background: #073B4C;
}
#button-purple {
    background: purple;
}
#button-white {
    background: white;
    width: 80px;
    height: 80px;
    margin: 40px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    border: 5px solid rgba(204, 204, 204, 0.671);
    transition: transform ease 0.2s; 
}

