<html>
	<head>
		<title>Color Control</title>
		<link rel="stylesheet" type="text/css" href="assets/styles/style.css" />
	</head>
	<body>
		<div id="container">
			<div id="spine-1">
				<form action="/index.html">
					<div id="button-red" class="button"></div>
				</form>
				<a>
					<div id="button-yellow" class="button"></div>
				</a>
				<a href=" ">
					<div id="button-green" class="button"></div>
				</a>
				<a href=" ">
					<div id="button-lightblue" class="button"></div>
				</a>
				<a href=" ">
					<div id="button-blue" class="button"></div>
				</a>
			</div>
			<div id="spine-2">
				<a href=" ">
					<div id="button-white" class="button"></div>
				</a>
				<a href=" ">
					<div id="button-orange" class="button"></div>
				</a>
				<a href=" ">
					<div id="button-purple" class="button"></div>
				</a>
				<a href=" ">
					<div id="button-aqua" class="button"></div>
				</a>
				<a href=" ">
					<div id="button-pink" class="button"></div>
				</a>
			</div>
		</div>
		<!-- would usually put the <script> in <head> -->
		<script type="text/javascript" src="assets/scripts/color_control.js"></script>
	</body>
</html>